body{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;

}

p{
    margin:0;
}
.progres{
height: 10px;
width:100% ;
background-color: limegreen;
position:fixed;
top:0;
left:0;
right:0;
scale: 0 1;
z-index:1000;
animation: analitzador linear;
animation-timeline:scroll();
transform-origin: left;
}

@keyframes  analitzador{
to{
scale: 1 1;
}
}

@media (max-width:480px) {
    body{background-color:red;}
     
}


@media (min-width: 481px) and (max-width:1279px){
    body{background-color:orange;} 
}

@media (min-width:1280px){
    body{background-color:green;} 
}



